 name: Build APK
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Build Tools
        run: |
        sudo apt-get update
          sudo apt-get install -y scons libncurses5-dev libbz2-dev zlib1g-dev libsqlite3-dev libssl-dev libgdbm-dev liblzma-dev libreadline-dev tk-dev libffi-dev libexpat1-dev libbluetooth-dev sqlite3 libsqlite3-dev
          pip install buildozer cython==0.29.33 kivy
      - name: Build with Buildozer
        run: buildozer android deb        
